@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

body {
background-color: rgb(179, 30, 30);
color: black;
font-family: "Special Elite", system-ui;
}

.cabecalho{
    background-color: white;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}


img{
    width: 31
    width; 300px;
    height: 250px;
}

main{
    color: black;
    max-width: 350px
    margin 0 auto;
    padding: 16px;
}
article{
    display: flex;
    background-color: rgb(124, 0, 0);
    align-items: center;
    padding: 24px;
}
button{
    background-color: brown;
    color: black;
    padding: 28px;
    border-radius: 17px;
    width: 100px;
}