@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet");

body {
background-color: rgb(179, 30, 30);
color: black;
}

.cabecalho{
    background-color: white;
    text-align: center;
    padding: 30px;
    font-size: 25px;
}

main{
    font-family: "Special Elite", system-ui;
}
img{
    width: 100px
    height: 300px
}